@charset "UTF-8";

body {
    background-color: white;
}

img {
   display: block;
   margin: auto;
   padding-top: 30px;
}

main {
    min-width: 300px;
    max-width: 1000px;
   background-color: rgb(43, 136, 190);
   border-radius: 10px;
    margin: auto;

}

p {
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}
